h1, h2, h3, h4, h5 {
  font-family: Sans-Serif;
}

h1 {
    padding-top: 100px;
    padding-bottom: 30px;
}

p {
  font-family: Serif;
  text-align: justify;
  text-indent: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

span.inlinecode {
    font-family: Mono;
}

p.preformatted {
    font-family: Mono;
    text-indent: 0px;
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

p.noindent {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

p.newsection {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

p.newscene {
    margin-top: 16px;
    margin-bottom: 0px;
    text-indent: 0px;
}

p.afterspecial {
    margin-top: 8px;
    margin-bottom: 0px;
    text-indent: 0px;
}

p.footnote {
    text-indent: 0px;
    margin-top: 8px;
}

ol {
    margin-left: 40px;
}
